@model PagedList.IPagedList<WebQLMamNon.Models.Tbl_NgheNghiep>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayoutAdmin.cshtml";
}

<h1 style="margin-left:20px">Danh Sách Nghề Nghiệp</h1>

@using (Html.BeginForm("Create", "NgheNghiep", FormMethod.Get))
{
    <input class="btn btn-primary" style="float:left;margin-left:20px" type="submit" value="Thêm nghề nghiệp" />

}
<table class="table" border="1">
    <tr style="background:orange;font-size:15px">
        <th>
            Tên nghề nghiệp
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tenNgheNghiep)
            </td>
            <td>
                <a href="#" id="@item.maNgheNghiep" onclick="deletetk(this.id)"><i class="fa fa-trash"></i>&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
<script type="text/javascript">
        function deletetk(idtk) {
            if (confirm("Bạn muốn xóa nghề nghiệp này?")) {
                $.ajax({
                    type: 'POST',
                    url: '/NgheNghiep/Delete',
                    data: { id: idtk },
                    success: function (data) {
                        if (data.status == 0) {
                            $('#tr-' + idtk).remove();
                            alert("Bạn xóa thành công");
                            window.location = "@Url.Action("Index","NgheNghiep")";
                        }
                    },
                    error: function (data) {
                        alert('Lỗi hệ thống');
                    }

                })
            }
        }

</script>
