@model IEnumerable<WebQLMamNon.Models.Tbl_DiemDanh>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayoutAdmin.cshtml";
}

<h2>Bảng Điểm Danh</h2>
@if (TempData["dd"] != null)
{
    <script>
        alert("Ngày Điểm Danh Hôm Nay Đã Tạo");
    </script>
}
<p>
    @using (Html.BeginForm("DiemDanhNgay", "DiemDanhGV",FormMethod.Get))
            {
        <input style="float:left" type="submit" value="Tạo mới bảng điểm danh" />
    }
</p>

<table class="table">
    <tr>
        <th>
            Ngày
        </th>
        <th>
            Tháng
        </th>
        <th>
            Năm học
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ngayDiemDanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_ThangHoc.tenThang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_NamHoc.tenNamHoc)
        </td>
        <td>
            @using (Html.BeginForm("DiemDanh", "DiemDanhGV", new { id = item.maDiemDanh }, FormMethod.Get))
            {
                <input style="float:left" type="submit" value="Chi tiết" />
            }
        </td>
    </tr>
}

</table>
