@model IEnumerable<WebQLMamNon.Models.ModelChiTietDiemDanh>
@{
    ViewBag.Title = "CalendarDiemDanh";
    Layout = "~/Views/LayoutAdmin.cshtml";
}

<h2>Chi tiết điểm danh tháng : @ViewBag.a</h2>
<h2>Tên giáo viên : @ViewBag.b</h2>
     @{ 
         int a = 0;
         int b = 0;
     }
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-1">
            @if (item.trangThai == "Có")
            {
                <a class="table-bordered" style="background:orange;font-size:50px;">@item.ngay</a>
                a += 1;
                ViewBag.a = a;
            }
            else
            {
                <a class="table-bordered" style="font-size:50px;">@item.ngay</a>
                b += 1;
                ViewBag.b = b;
            }
        </div>

    }
</div>

<br />
Tổng ngày làm(màu cam):@ViewBag.a <br /><br />Tổng ngày nghỉ(không màu):@ViewBag.b




 


        

