@model IEnumerable<WebQLMamNon.Models.Tbl_ChiTietLuong>

@{
    ViewBag.Title = "ChiTietLuong";
    Layout = "~/Views/LayoutAdmin.cshtml";
}

<h1 style="margin-left:25px">Bảng lương</h1>

<table class="table">
    <tr style="background:orange;font-size:15px">
       <th>Tên</th>
        <th>Số ngày làm</th>
        <th>Tổng lương</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr >
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_GiaoVien.hoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soNgayLam)
        </td>
        <td>
            @(item.soTien * item.soNgayLam)
        </td>
       
        <td>
           
        @using (Html.BeginForm("CalendarDiemDanh", "TinhLuong",new { id=item.maGV} ,FormMethod.Get))
        {
            <input class="btn btn-danger" style="font-size:12px" type="submit" value="Lịch sử điểm danh" />
        }
        </td>
    </tr>
}

</table>
