@model IEnumerable<WebQLMamNon.Models.Tbl_TienLuong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayoutAdmin.cshtml";
}

<h2>Bảng lương</h2>
@if (TempData["dd"] != null)
{
    <script>
        alert("Tháng này đã tạo bảng lương");
    </script>
}
<p>
    @using (Html.BeginForm("TaoBangLuong", "TinhLuong", FormMethod.Get))
    {
        <input style="float:left" type="submit" value="Tạo mới bảng lương" />
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_NamHoc.tenNamHoc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tbl_ThangHoc.tenThang)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_NamHoc.tenNamHoc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tbl_ThangHoc.tenThang)
        </td>
        <td>
            @using (Html.BeginForm("ChiTietLuong", "TinhLuong", new { id = item.maLuong }, FormMethod.Get))
            {
                <input style="float:left" type="submit" value="Chi tiết" />
            }
        </td>
    </tr>
}

</table>