
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayoutAdmin.cshtml";
}

<h1>Chào mừng bạn đến với trang quản lý </h1>
<img src="~/images/84579b75ec51733.jpg" style="opacity:0.4;height:100%;width:100%" />
