@model IEnumerable<WebQLMamNon.Models.Tbl_LopHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayoutAdmin.cshtml";
}

<h1 style="margin-left:20px">Quản lý lớp học</h1>

<p>
    @using (Html.BeginForm("Create", "LopHoc", FormMethod.Get))
    {
        <input class="btn btn-primary" style="float:left;margin-left:20px" type="submit" value="Thêm lớp" />
    }
</p>
<table class="table">
    <tr style="background:orange;font-size:15px">
        <th>
            Tên lớp
        </th>
        <th>
            Số lượng học sinh
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenLop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soLuongHS)
        </td>
       
        <td>
            <a href="@Url.Action("Edit", "LopHoc",new { id = item.maLop })"><i class="fa fa-wrench"></i>&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;
            <a href="@Url.Action("Delete", "LopHoc",new { id = item.maLop })"><i class="fa fa-trash"></i>&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;

        </td>
    </tr>
}

</table>
