@model IEnumerable<WebQLMamNon.Models.Tbl_LopHoc>
<link href="~/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- Font Awesome -->

<link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- NProgress -->
<link href="~/vendors/nprogress/nprogress.css" rel="stylesheet">
<!-- iCheck -->
<link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
<!-- bootstrap-progressbar -->
<link href="~/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
<!-- JQVMap -->
<link href="~/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
<!-- bootstrap-daterangepicker -->
<link href="~/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<!-- Custom Theme Style -->
<link href="~/Content/css/custom.min.css" rel="stylesheet">
<link href="~/Content/giaovien.css" rel="stylesheet" />
<body style="background-color: #f7f7f7;">
    @{
        ViewBag.Title = "Index";
        Layout = null;
    }

    <h2>Quản lý lớp học</h2>

    @using (Html.BeginForm("Create", "LopHoc", FormMethod.Get))
    {
        <input class="btn btn-primary" style="float:left;margin-right:25px" type="submit" value="Thêm mới lớp học" />
    }
</body>