@model WebQLMamNon.Models.Tbl_NgheNghiepMe

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tbl_NgheNghiepMe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenNgheNghiepMe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenNgheNghiepMe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maNgheNghiepMe }) |
    @Html.ActionLink("Back to List", "Index")
</p>
