@model IEnumerable<WebQLMamNon.Models.Tbl_PhanCong>

@{
    ViewBag.Title = "Indexpl";
    Layout = "~/Views/LayoutAdmin.cshtml";
}
@if (TempData["loipc"] != null)
{
    <script>
        alert("Mỗi giáo viên chỉ được dạy 1 lớp");
    </script>
}
@if (TempData["loi"] != null)
{
    <script>
        alert("Mỗi lớp tối đa 2 giáo viên ");
    </script>
}
@if (TempData["loinull"] != null)
{
    <script>
        alert("Hiện tại không có giáo viên hoặc không có lớp trống");
    </script>
}

<h1 style="margin-left:20px">Phân công</h1>


@using (Html.BeginForm("PhanCong", "PhanCong",FormMethod.Get))
{
<div class="form-group" style="float:left;width:90%;margin-left:20px">
    @Html.DropDownList("maLop", null, htmlAttributes: new { @class = "form-control", @style = "width:20%; float: left ;margin-right: 10px",@value="maLop"})
    @Html.DropDownList("maGV", null, htmlAttributes: new { @class = "form-control", @style = "width:20%; margin-right: 10px",@value="maGV" })
</div>

<input class="btn btn-primary" style="float:right;margin-right:25px;margin-top:-44px" type="submit" value="Phân công" />
}
    <table class="table">
        <tr style="background:orange;font-size:15px">
           <th>
                Lớp
            </th>
            <th>
                Giáo viên
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tbl_LopHoc.tenLop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tbl_GiaoVien.hoTen)
                </td>
             <td>
                 @using (Html.BeginForm("ChiTietLuong", "TinhLuong",  FormMethod.Get))
                 {
                     <input class="btn btn-danger" style="font-size:12px" type="submit" value="Thay đổi giáo viên" />
                 }
                </td>
            </tr>
        }

    </table>
