@model WebQLMamNon.Models.Tbl_BaiViet

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/LayoutAdmin.cshtml";
}

<h2>Xóa bài viết</h2>

<h3>Bạn chắc muốn xóa?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">


        <dt>
            Tên Bài Viết:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenBaiViet)
        </dd>


        <dt>
            Ngày Đăng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayDang)
        </dd>




    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>