@model WebQLMamNon.Models.Tbl_BaiViet
@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/LayoutUser.cshtml";
}
<div id="main" style="text-align:center;background-color:#82b441">
    <div class="wrapper">
        <div class="book-details" style="padding:15px;">
            <div style="text-align:center"><h1 style="color:#ffffff">@Html.DisplayFor(model => model.tenBaiViet)</h1><hr /></div>
            <div class="img-details" style="padding:20px">
                <img src="~/images/@Model.hinhBV" alt="Alt text" style="height:400px;width:660px" />
            </div>
            <hr />
            <div style="font-size:120%; color:#ffffff" )">
                <p>
                    <h3>Tóm Tắt:</h3><hr /></br> @Html.DisplayFor(model => model.noiDung)
                </p>


                <p>
                    </br>
                    <h3> Ngày Đăng: </h3><hr />
                    </br> @String.Format("{0:dd/MM/yyyy}", Html.DisplayFor(model => model.ngayDang))
                </p>


            </div>
        </div>
    </div>
    <div id="link">@Html.ActionLink("Go Back", null, null, null, new { href = Request.UrlReferrer })</div>
</div>